<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spam</title>
    <link rel="stylesheet" href="../static/spam.css" />
  </head>
  <body>
    <header>
      <h2>Spam detection</h2>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <form action="/predict" method="post">
        <div>
          <p>
            <span> SMS </span>
            <span style="color:red">SPAM</span> Detection <br />
            Using <span>NLP</span>
          </p>
        </div>

        <label for>Checking Spam message here:</label>
        <br />
        <textarea name="message" id="" cols="30" rows="5"></textarea>
        <button>check</button>
      </form>
      <picture>
        <source
          media="(min-width:750px)"
          class="desk_img"
          srcset="../static/Images/Spam_image_1.png"
        />
        <source
          media="(min-width:550px)"
          class="tab_img"
          srcset="../static/Images/S2.png"
        />
        <img class="mobile_img" src="../static/Images/small.png" />
      </picture>
    </div>
  </body>
</html>