<!DOCTYPE html>
<html>
  <head>
    <title>SMS Spam Detection</title>
    <script>
      function checkMessage() {
        // Get the user input
        var message = document.getElementById("message").value;

        // Define the spam keywords
        var spamKeywords = ["win", "free", "limited time offer", "call now"];

        // Check if the message contains any spam keywords
        for (var i = 0; i < spamKeywords.length; i++) {
          if (message.indexOf(spamKeywords[i]) !== -1) {
            alert("This message might be spam!");
            return false;
          }
        }

        // If the message is not spam, allow the user to submit the form
        return true;
      }
    </script>
  </head>
  <body>
    <h1>SMS Spam Detection</h1>
    <form onsubmit="return checkMessage();">
      <label for="message">Message:</label>
      <input type="text" id="message" name="message"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>



